body {
    font-family: 'Neucha', cursive;
}

h1 {
    background-color: #0045CC;
    font-size: 10vw;
    font-family: 'Trocchi', serif;
    padding: 0.5em;
}

#who {
    background-color: #0057FF;
    padding: 10em;
}

#is {
    background-color: #4C89FF;
    padding: 10em;
}

#she {
    background-color: #8ACCFF;
    padding: 10em;
}

h2 {
    font-size: 4vw;
    padding: 10em;
}

#doodling {
    background-color: #FAEF32;
    font-size: 5vw;
}


#dreaming {
    background-color: #00B7FF;
    font-size: 5vw;
}

#writing {
    background-color: #FF1946;   
    font-size: 5vw;
}

#thinking {
    background-color: #ccc;
    font-size: 5vw;
}

#links {
    font-family: 'Reenie Beanie', cursive; 
    font-size: 3vw;
}

img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cloud{
    width: 10%;
    margin-left: 20%;
    margin-top: 10%;
}



figcaption {
    font-size: 3vw;
    margin-left: 10%;
}

iframe{
    width: 100%;
    height: 45em;
}

p {
    margin-left: 10%;
}

@media all (min-width: 48em) {
    .flexcontainer {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    
    img .flexcontainer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
    
