
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0} 

body {
    font-family: 'Neucha', cursive;
}

h1 {
    background-color: #0045CC;
    font-size: 10vw;
    font-family: 'Trocchi', serif;
    padding: 0.5em;
}

h2 {
    font-size: 8vw;
    padding: 0.5em;
}

p {
    margin-left: 5%;
    font-size: 4vw;
}

ul {
    font-family: 'Reenie Beanie', cursive; 
    font-size: 6vw;
    margin-left: 5%;
    color: antiquewhite;
}

img {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

figcaption {
    font-size: 5vw;
    margin-left: 5%;
    padding: 2%;
}

audio {
    padding-left: 5%;
}
#who {
    background-color: #0057FF;
    padding-left: 25%;
}

#is {
    background-color: #4C89FF;
    padding-left: 50%;
}

#she {
    background-color: #8ACCFF;
    padding-left: 75%;
}


#dreaming {
    background-color: #00B7FF;
    font-size: 5vw;
}

#cloud1 {
    padding-left: 75%;
}

#cloud2 {
    padding-left: 50%;
}

#cloud3 {
    padding-left: 25%;
}

#ellip1 {
    padding-left: 10%;
}

#ellip2 {
    padding-left: 20%;
}

#ellip3 {
    padding-left: 30%;
}

#ellip4 {
    padding-left: 40%;
}

#ellip5 {
    padding-left: 50%;
}

#think {
    padding-left: 55%;
    padding-bottom: 10%;
}

#thinking {
    background-color: #ccc;
    font-size: 5vw;
}
#piano {
    padding-bottom: 10%;
    
}

#pianist {
    padding-left: 55%;
}

#writing {
    background-color: black;
    color: antiquewhite;
    font-size: 5vw;
}

#doodling {
    background-color: #0045CC;
    font-size: 5vw;
}

#bottom {
    background-color: #98fb98;
}


.cloud{
    width: 15%;
    padding: 5vw;
}

.no-audio {
    display: none;
}

.list {
    padding-bottom: 10%;
}


@media all (min-width: 48em) {


.no-flexbox img{
    
    width: 100%;
    display: block;
}
    
    .flexbox {
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    img .flexbox {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
    }
}
    
